body {
    font-family: "Helvetica Neun", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    
}

h1 {
    font-family: "Give you glory", cursive;
    font-size: 5.625rem; /* 90px = 5.625em */ /* 100% = 16px */
    /* 1em = 16px */
    width: 50%;
    margin: 0 auto;
}

p {
    font-family: "Nunito", sans-serif;
}